@font-face {
  src: url(../font/oswald/Oswald-RegularItalic.ttf);
  font-family: Oswald;
}
body {
  margin: 0px;
  background-image: url(../img/fond.png);
}

nav,
nav > ul,
nav > ul > li {
  display: inline-block;
}
.container {
  max-width: 750px;
  margin: auto;
  background-color: white;
}
nav {
  float: right;
  margin: 40px;
  font-size: 1em;
}

header {
  overflow: auto;
  background-color: #b8cb21;
}

a {
  color: #2b4321;
  padding: 10px;
  font-size: 1.3em;
  text-transform: uppercase;
  font-family: Oswald;
}

.picwho {
  float: left;
  width: 200px;
  margin-right: 10px;
}
.picwhat {
  float: left;
  width: 200px;
  margin-right: 10px;
}
.clear {
  clear: both;
}

.title {
  text-transform: uppercase;
  color: #b8cb21;
  font-family: Oswald;
}

.button {
  float: right;
  height: 40px;
  border: #b8cb21 solid 5px;
  background-color: #b8cb21;
  color: white;
  font-size: medium;
}

.button2 {
  float: right;
  height: 40px;
  border: #b8cb21 solid 5px;
  background-color: #b8cb21;
  color: white;
  font-size: medium;
  margin: 15px;
}

.section3 {
  overflow: auto;
  margin: 30px;
}

.margine {
  margin: 30px;
}

.academylogo {
  width: 50px;
  height: 50px;
  display: block;
  margin: auto;
}

.center {
  text-align: center;
}

.paragraph {
  padding: 10px;
  margin: 10px;
  display: block;
}
