@font-face{
  font-family: Oswald-Regular;
  src: url(/font/oswald/Oswald-Regular.ttf);
}
body{
    margin: 0;
    background-image: url("../img/fond.png");
    background-repeat: no-repeat;
    background-size: cover;
    margin: auto;
    width: 750px;
}

nav, 
ul, 
nav>ul>li{
    display: inline-block;
    
}
header, nav{
    background-color: #b8cb21;
    width: 750px;
}
header{
    overflow: auto;
    background-color: #b8cb21;
    
}

nav>ul, a{
    float: right;
    color: #2c4106;
    margin: 10px;
    font-size: large;  
}
.container {
    max-width: 750px;
    margin: auto;
    background-color: white;
  }

main{
    background-color: white;
    padding: 10px;
}

.imgfloat{
    float: left;
    width: 250px;
}

.clearfloat{
    clear: both;
}
h2{
    color: #b8cb21;
}
.button {
    float: right;
    height: 40px;
    border: #b8cb21 solid 5px;
    background-color: #b8cb21;
    color: white;
    font-size: medium;
  }

  .buttontwo{
    float: right;
    height: 40px;
    border: #b8cb21 solid 5px;
    background-color: #b8cb21;
    color: white;
    font-size: medium;
    margin: 14px;
  }

  .section3 {
    overflow: auto;
    margin: 30px;
  }
  .margine {
    margin: 30px;
  }
  .footerlogo{
    width: 50px;
    height: 50px;
    display: block;
    margin: auto;
    padding: 10px;
  }
  .center{
    text-align: center;
  }
